# Ignorar archivos de configuración y secretos
config.js
.env

# Ignorar archivos y carpetas generados automáticamente
node_modules/
dist/
build/

# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar logs y cachés
*.log
.cache/